{% extends 'base.html' %}

{% block content %}
    <h1>Update Blog Post</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        <br/>
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        <br/>
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows="15") }}
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
        <br/>
        <div class="d-flex gap-3 d-md-flex">
            {{ form.submit(class="btn btn-success") }}
            <a href="{{ url_for('post', id=post.id, slug=post.slug) }}" class="btn btn-outline-info">Back to Post</a>
            <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger">Delete Post</a>        
        </div>
    </form>
    </div>
    <br/><br/><br/>
{% endblock %}