{% extends 'base.html' %}

{% block content %}
    <h1>Update User</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form action="/update/{{ name_to_update.id }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=name_to_update.name) }}
        <br/>
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=name_to_update.username) }}
        <br/>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=name_to_update.email) }}
        <br/>
        {{ form.favorite_color.label(class="form-label") }}
        {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
        <br/>
        {{ form.about_author.label(class="form-label") }}
        <textarea name="about_author" class="form-control">{{ name_to_update.about_author }}</textarea>
        <br/>
        {{ form.profile_pic.label(class="form-label") }}
        {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic, placeholder="Test") }}
        <br/>
        <div class="d-flex gap-3 d-md-flex">
            {{ form.submit(class="btn btn-success") }}
            <a href="{{url_for('dashboard')}}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
    </div>
    <br/><br/><br/>
{% endblock %}